body {
    font-family: -apple-system,BlinkMacSystemFont,"Samim",
        "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",
        sans-serif,"Apple Color Emoji","Segoe UI Emoji",
        "Segoe UI Symbol","Noto Color Emoji";
    background-color: #252526;
    color: #FFF;
    scroll-behavior: smooth;
}

.btn {
    border-radius: 20px;
    border-width: 2px;
}

.image-round {
    border-radius: 100%;
}

.inverted-image {
    margin: 1px;
    padding: 6px;
    border-radius: 100%;
    text-align: center;
}

.inverted-image > img{
    filter: invert(100%);
}

.inverted-image:hover > img {
    transition: filter 200ms;
    filter: invert(0%);
}

#main-box {
    min-height: 100vh;
}

#main-content {
    padding: 20px 0;
}

#icon-left > img, 
#icon-right > img {
    widows: 24px;
    height: 24px;
}

#icon-mid > img {
    widows: 32px;
    height: 32px;
}
